<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Management System</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <nav>
        <img src="img/logo.png" class="logo">
        <ul class="nav-links">
            <li><a href="user.html">User profile</a></li>
            <li><a href="#">Chat rooms</a></li>
            <li><a href="#">notifications</a></li>
        </ul>
        <a href="login.html" class="log-btn">log in </a>
        <a href="login.html" class="register-btn">Register now</a>
    </nav>
    <div class="container">
        <h1>Available Rooms for Campus students</h1>
        <div class="search-bar">
            <form>
                <div>
                    <label class="location-input">location</label>
                    <input type="text" placeholder="Which estate do you want to go?">
                </div>
                <div>
                    <label>check in</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>check out</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>Guest</label>
                    <input type="text" placeholder="Add Guest">
                </div>
                <button type="submit"><img src="img/search.png" alt=""></button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="sub-title">AREAS TO FIND STUDENT'S ACCOMMODATION</h2>
    <div class="apartments">
        <div>
            <img src="img/image-10.png" >
            <span>
                <h3>Roysambu</h3>
                <p>starts @ksh12,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-4.png" >
            <span>
                <h3>Githurai</h3>
                <p>starts @ksh6,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-5.png" >
            <span>
                <h3>Zimmerman</h3>
                <p>starts @ksh7,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-7.png" >
            <span>
                <h3>Allsops</h3>
                <p>starts @ksh9,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-9.png" >
            <span>
                <h3>Mirema</h3>
                <p>starts @ksh10,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-3.png" >
            <span>
                <h3>Kahawa</h3>
                <p>starts @ksh7,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-4.png" >
            <span>
                <h3>Lumumba</h3>
                <p>starts @ksh14,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-3.png" >
            <span>
                <h3>Safari park</h3>
                <p>starts @ksh9,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-7.png" >
            <span>
                <h3>Garden Estate</h3>
                <p>starts @ksh7,000</p>
            </span>
        </div>
        <div>
            <img src="img/image-15.png" >
            <span>
                <h3>K-west</h3>
                <p>starts @ksh7,000</p>
            </span>
        </div>
    </div>
    
    <h2 class="sub-titles">Trending PLaces</h2>
    <div class="trending">
        <div>
            <img src="img/dubai.png">
            <h3>Kileleshwa</h3>
        </div>
        <div>
            <img src="img/new-york.png">
            <h3>Kitusuri</h3>
        </div>
        <div>
            <img src="img/paris.png">
            <h3>Paring</h3>
        </div>
        <div>
            <img src="img/new-delhi.png">
            <h3>Delhi</h3>
        </div>
    </div>

    <div class="cta">
        <h3>Live in <br> beautiful apartments in Nairobi</h3>
        <p>Great opportunity to rent <br> beautiful houses in Nairobi</p>
        <a href="#" class="cta-btn">Know More</a>
    </div>

</div>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit ab unde iure magni adipisci sit repellat earum blanditiis. Earum fuga tenetur quod, nobis eligendi vero. Vitae officiis eligendi dolore ipsum.</p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="center box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <i class="fas fa-map-marker-alt"></i>
                            <i class="text">Roysambu, Nairobi</i>
                        </div>
                        <div class="phone">
                            <i class="fas fa-phone-alt"></i>
                            <i class="number">+254797443183</i>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">abc@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>